<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/UserLayout}">


<body class="register-page">
    <div class="register-box">
        <div class="card card-outline dark">
            <!-- card header-->
            <div class="card-header text-center">
                <a href="/" class="h1"><b>WORK</b>WARE</a>
            </div>

            <!-- card body-->
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputBorder">Name </label>
                                <input type="text" class="form-control form-control-border" id="exampleInputBorder" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputBorder">Name </label>
                                <input type="text" class="form-control form-control-border"  placeholder="Full Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputBorder">Bottom Border only <code>.form-control-border</code></label>
                            <input type="text" class="form-control form-control-border" id="exampleInputBorder" placeholder=".form-control-border">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">

                        </div>

                        <div class="col-6">
                            <button type="submit" class="btn btn-dark btn-block">Register</button>
                        </div>

                    </div>
                </form>


                <!--   다른 방식의 회원가입.-->
                <div class="social-auth-links text-center">
                    <a href="javascript: alert('준비중입니다.')">
                        <img class="kakao_login_box" src="/images/kakao_login.png" style="width:250px; height: 38px;margin-bottom:5px">
                    </a>
                    <a href="javascript: alert('준비중입니다.')" class="btn btn-block btn-primary" style="padding-left: 1px; font-size: 14px; width:250px; margin-left: auto; margin-right: auto;">
                        <i class="fab fa-google-plus mr-2" style="font-size: 20px; float: left"></i> Login with Google
                    </a>
                </div>
                <a href="/member/login" class="text-center">I already have a membership</a>
            </div>


        </div>
    </div>
</body>
</html>