<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/UserLayout}">


<body class="register-page">
    <div class="register-box">
        <div class="card card-outline dark">
            <!-- card header-->
            <div class="card-header text-center">
                <a href="/" class="h1"><b>WORK</b>WARE</a>
            </div>

            <!-- card body-->
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-">
                            <div class="form-group">
                                <label for="exampleInputBorder">Bottom Border only <code>.form-control-border</code></label>
                                <input type="text" class="form-control form-control-border" id="exampleInputBorder" placeholder=".form-control-border">
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Retype password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">

                        </div>

                        <div class="col-4">
                            <button type="submit" class="btn btn-dark btn-block">Register</button>
                        </div>

                    </div>
                </form>
                <div class="social-auth-links text-center">
                    <a href="javascript: alert('준비중입니다.')">
                        <img class="kakao_login_box" src="/images/kakao_login.png" style="width:100%; height: 38px;margin-bottom:5px">
                    </a>
                    <a href="javascript: alert('준비중입니다.')" class="btn btn-block btn-primary" style="padding-left: 1px; font-size: 14px;">
                        <i class="fab fa-google-plus mr-2" style="font-size: 20px; float: left"></i> Login with Google
                    </a>
                </div>
                <a href="login.html" class="text-center">I already have a membership</a>
            </div>

        </div>
    </div>
</body>
</html>