<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- title block -->
    <th:block layout:fragment="title"></th:block>

    <!--https://adminlte.io/docs/3.2/-->
    <!-- adminlte css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">


    <!-- css block -->
    <th:block layout:fragment="css"></th:block>
</head>



</html>