<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body >


<!-- fontawesome -->
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<!-- adminLTE -->
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

<th:block layout:fragment="scrpit"><script th:inline="javascript"></script></th:block>
</body>


</html>