/*nav > ul > .nav-item > .nav-link > .list-icon{ font-size: 9px;}*/

aside > .sidebar > nav > .sidebar-custom{bottom: 1px;position: absolute;width: 240px;}



/* Register Box*/
.register-page > .register-box{ width: 900px;}
.register-page > .register-box